@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Calibri';
    src: url('/fonts/calibri-regular.woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Calibri';
    src: url('/fonts/calibri-bold.woff2');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'AGaramondPro';
    src: url('/fonts/AGaramondPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  .markdown {
    @apply px-8 xl:px-16 mt-6;
    h1 {
      @apply text-2xl font-bold;
    }
    li {
      @apply list-disc mx-2 xl:mx-10;
    }
    p {
      @apply my-5;
    }
  }
}

img {
  @apply select-none;
}
