@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Calibri';
    src: url('/fonts/calibri-regular.woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Calibri';
    src: url('/fonts/calibri-bold.woff2');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'AGaramondPro';
    src: url('/fonts/AGaramondPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  .markdown {
    @apply px-8 xl:px-16 mt-6 font-calibri;
    h1 {
      @apply text-4xl font-agaramondPro font-bold;
    }
    li {
      @apply mx-2 xl:mx-10;
    }
    ul li {
      @apply list-disc;
    }
    ol li {
      @apply list-decimal;
    }
    p {
      @apply my-5 text-lg;
    }
  }

  .gradient-desktop {
    /* ff 3.6+ */
    background: -moz-radial-gradient(
      circle at 25% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 16%,
      rgba(74, 121, 140, 1) 26%,
      rgba(14, 54, 88, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
      circle at 25% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 16%,
      rgba(74, 121, 140, 1) 26%,
      rgba(14, 54, 88, 1) 100%
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(
      circle at 25% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 16%,
      rgba(74, 121, 140, 1) 26%,
      rgba(14, 54, 88, 1) 100%
    );

    /* ie 10+ */
    background: -ms-radial-gradient(
      circle at 25% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 16%,
      rgba(74, 121, 140, 1) 26%,
      rgba(14, 54, 88, 1) 100%
    );

    /* global 92%+ browsers support */
    background: radial-gradient(
      circle at 25% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 16%,
      rgba(74, 121, 140, 1) 26%,
      rgba(14, 54, 88, 1) 100%
    );
  }

  .gradient-mobile {
    /* ff 3.6+ */
    background: -moz-radial-gradient(
      circle at 50% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 20%,
      rgba(74, 121, 140, 1) 28%,
      rgba(14, 54, 88, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
      circle at 50% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 20%,
      rgba(74, 121, 140, 1) 28%,
      rgba(14, 54, 88, 1) 100%
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(
      circle at 50% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 20%,
      rgba(74, 121, 140, 1) 28%,
      rgba(14, 54, 88, 1) 100%
    );

    /* ie 10+ */
    background: -ms-radial-gradient(
      circle at 50% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 20%,
      rgba(74, 121, 140, 1) 28%,
      rgba(14, 54, 88, 1) 100%
    );

    /* global 92%+ browsers support */
    background: radial-gradient(
      circle at 50% 100%,
      rgba(94, 140, 152, 1) 0%,
      rgba(94, 140, 152, 1) 20%,
      rgba(74, 121, 140, 1) 28%,
      rgba(14, 54, 88, 1) 100%
    );
  }
}

img {
  @apply select-none;
}
